@import url('https://fonts.googleapis.com/css?family=Kalam|Lobster|Roboto');
// @import 'icon/*.png';
// @include all-icon-sprites;

//Normal font css 'Roboto', sans-serif;

html{
  background:$backgroundcolor;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
header{
  color: $textcolor;
  h1{
    font-size: 3em;
    font-family: 'Lobster', cursive;
    text-align: left;
    padding-left: 50px;
  }
  h2{
    font-size: 1.5em;
    font-family: 'Kalam', cursive;
    text-align: left;
    padding-left: 120px;
  }
}
.navigation{
  ul{
    background: $navbgcolor;
    font-size: 1em;
    li{
      a{
        color: white;
        font-family: Arial;
      }
    }
  }
}
.sec1{
  grid-area: sec1;
  padding: 5px;
  font-size: 2em;
  color: black;
  align-self: center;
}
.sec2{
  grid-area: sec2;
  padding: 3px;
  font-size: 2em;
  align-self: center;
}
.sec3{
  grid-area: sec3;
  padding: 3px;
  font-size: 2em;
  align-self: center;
}
.img1{
  grid-area: img1;
  img{
    position: relative;
    width: 100%;
    // border-style: solid;
    // border-color: black;
    margin: 2px;
  }
  align-self: center;
}
.img2{
  grid-area: img2;
  img{
    position: relative;
    image-orientation: from-image;
    //interesting, but very useful code!  Image was flipped upside down before this
    width: 90%;
    // border-style: solid;
    // border-color: black;
    margin: 5px;
  }
  align-self: center;
}
.img3{
  grid-area: img3;
  img{
    position: relative;
    width: 95%;
    border-style: solid;
    border-color: black;
    margin: 5px;
  }
  align-self: center;
}
.advforyou{
  grid-area: advforyou;
  // align-self: center;
  li{
    list-style: number;
  }
  h2{
    text-align: center;
  }
}
.advforothers{
  grid-area: advforothers;
  // align-self: center;
  h2{
    text-align: center;
  }
  li{
    list-style: number;
  }
}
.advgeneral{
  grid-area: advgeneral;
  // align-self: center;
  li{
    list-style: number;
  }
  h2{
    text-align: center;
  }
}
footer{
  grid-area: foot;
  align-self: center;
  text-align: center;
  margin: auto;
}
hr{
  height: 15px;
}
h2{
    font-style: 'Roboto', sans-serif;
}
p{
  font-style: 'Roboto', sans-serif; 
}
// ---------Hexagon Pre-Loaded CSS fron BoilerPlate--------
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #ffffff;
  margin: 86.60px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #ffffff;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #ffffff;
}
// why...