@import url('https://fonts.googleapis.com/css?family=Kalam|Lobster|Roboto');
// @import 'icon/*.png';
// @include all-icon-sprites;

//Normal font css 'Roboto', sans-serif;

html{
  background:$backgroundcolor;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
header{
  color: $textcolor;
  h1{
    font-size: 3em;
    font-family: 'Lobster', cursive;
    text-align: left;
    padding-left: 50px;
  }
  h2{
    font-size: 1.5em;
    font-family: 'Kalam', cursive;
    text-align: left;
    padding-left: 120px;
  }
}
.navigation{
  ul{
    background: $navbgcolor;
    font-size: 1em;
    li{
      a{
        color: white;
        font-family: Arial;
      }
    }
  }
}
.sec1{
  grid-area: sec1;
  // background-image: url("../img/sec1bg.jpg");
  // filter: opacity(50%);
  // background-repeat: no-repeat;
  // background-size: cover;
  padding: 3px;
  font-size: 2em;
  color: black;
  align-self: center;
}
.sec2{
  grid-area: sec2;
  padding: 3px;
  font-size: 2em;
  align-self: center;
}
.sec3{
  grid-area: sec3;
  padding: 3px;
  font-size: 2em;
  align-self: center;
}
.img1{
  grid-area: img1;
  background-image: url("../img/sec1bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: opacity(75%);
  // align-self: center;
}
// ---------Hexagon Pre-Loaded CSS fron BoilerPlate--------
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #ffffff;
  margin: 86.60px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #ffffff;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #ffffff;
}
// why...