.container{
	max-width: 960px;
	outline: solid 3px;
}
.site{
	display: grid;
	grid-gap: 5px;
	// grid-template-columns: 1fr 1fr 1fr;
	// grid-template-rows: 80px repeat(3, 300px) 600px 80px;

	grid-template-areas:
	"nav nav nav"
	"img1 sec1 sec1"
	"sec2 sec2 img2"
	"img3 sec3 sec3"
	"advforyou advforothers advgeneral"
	"foot foot foot";

	// align-items: start;

}
.navigation{
	grid-column: 1 / 4;
	margin-left: 5px;
	margin-right: 5px;
	ul{
		text-align: center;
		li{
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
			a{
				display: block;
				margin: auto;
				text-decoration: none;
			}//a
		}//li
	}//ul
}//.nav
.about{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
@media screen and (max-width: 959px){
	.container{
		outline: solid 0px;
	}
}
@media screen and (max-width: 860px){
	.site{
		display: grid;
		grid-gap: 5px;
		// grid-template-columns: 1fr 1fr 1fr;
		// grid-template-rows: 80px repeat(3, 300px) 600px 80px;

		grid-template-areas:
		"nav nav"
		"sec1 sec1"
		"sec2 sec2"
		"sec3 sec3"
		"advforyou advforyou"
		"advforothers advforothers"
		"advgeneral advgeneral"
		"foot foot";

		// align-items: start;

}
	.img1, .img2, .img3{
		display: none;
	}
}