.container{
	max-width: 960px;
	outline: solid 3px;
}
.site{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 40px;
	grid-template-rows: repeat(8, 1fr);

}
.navigation{
	grid-column: 1 / 3;
	margin-left: 5px;
	margin-right: 5px;
	ul{
		text-align: center;
		li{
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
			a{
				display: block;
				margin: auto;
				text-decoration: none;
			}//a
		}//li
	}//ul
}//.nav